<% if user_signed_in? %>
  <%= link_to "Tweedify", new_tweed_path, class: "btn btn-info", id: "tweedify-btn" %>
<% end %>

<ul class="list-unstyled">
  <% @tweeds.reverse.each do |tweed| %>
    <li class="well">
      <small>Tweed by <%= link_to tweed.user.email, user_path(tweed.user) %>:</small><br>
      <%= tweed.body %>
    </li>
  <% end %>
</ul>
